// ------ STYLES: START ------ //

.daily-tournaments-promotion {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__header {
    width: 100%;

    color: var(--font-color-main);
    font-size: 2rem;
    text-align: center;
  }

  &__banners-with-ring {
    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__footnote {
    width: 70%;

    color: var(--font-color-grey);
    font-size: 1.4rem;
    text-align: center;
  }
}

// ------ STYLES: END ------ //

// ------ MEDIA QUERIES: START ------ //

@media screen and (max-width: 500px) {
  .daily-tournaments-promotion {
    &__banners-with-ring {
      height: 80%;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}

// ------ MEDIA QUERIES: END ------ //
