%flex-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

$border-radius: 15px;

// This component was first used in CashGamesStage component

// ------ STYLES: START ------ //

.stage-info-container {
  @extend %flex-class;
  justify-content: flex-start;

  width: 100%;

  position: relative;

  border: {
    left: 5px solid var(--grey-200);
    right: 5px solid var(--grey-200);
    bottom: 5px solid var(--grey-200);
  }

  border-radius: $border-radius;

  background-color: var(--grey-200);

  &__header {
    @extend %flex-class;

    width: 100%;

    color: var(--font-color-main);
  }

  &__orange-line {
    position: absolute;
    top: 0;

    height: 5px;
    width: 35%;

    background-color: var(--brand-orange-color);
    box-shadow: 0 3px 10px var(--brand-orange-color);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__content {
    @extend %flex-class;
    justify-content: space-between;

    width: 100%;

    background-color: var(--grey-900);

    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  // ------ CASES: START ------ //

  &---cash-games-stage-case {
    height: 100%;

    .stage-info-container__header {
      height: 5%;

      font-size: 2.2rem;
    }

    .stage-info-container__content {
      height: 95%;

      padding: 0 3%;
    }
  }

  //

  &---side-leaderboards-notification-case {
    height: calc(var(--main-element-viewport-height) * 0.2);
    width: 90%;

    margin-bottom: calc(var(--main-element-viewport-height) * 0.09);

    .stage-info-container__header {
      height: 100%;

      justify-content: space-evenly;
    }
  }

  //

  &---spring-series-stage-case--one {
    height: 20%;

    .stage-info-container__header {
      height: 15%;

      font-size: 2.2rem;
    }

    .stage-info-container__content {
      height: 85%;
    }
  }

  &---spring-series-stage-case--two {
    height: 57%;

    .stage-info-container__header {
      height: 5%;

      font-size: 2.2rem;
    }

    .stage-info-container__content {
      height: 95%;

      padding: 0 3%;
    }
  }

  &---spring-series-stage-case--three {
    height: 20%;

    border-top: 5px solid var(--grey-200);

    .stage-info-container__content {
      height: 100%;

      border-radius: $border-radius;
    }
  }

  // ------ CASES: END ------ //
}

// ------ STYLES: END ------ //
