%flex-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// ------ STYLES: START ------ //

.stage-info-container {
  --border-width: 5px;
  --orange-line-height: 5px;
  --orange-line-shadow-vertical-offset: 3px;
  --orange-line-shadow-spread: 10px;

  @extend %flex-class;
  justify-content: flex-start;

  width: 100%;

  position: relative;

  border: {
    left: var(--border-width) solid var(--grey-200);
    right: var(--border-width) solid var(--grey-200);
    bottom: var(--border-width) solid var(--grey-200);
  }

  border-radius: var(--border-radius-type-three);

  background-color: var(--grey-200);

  &__header {
    @extend %flex-class;

    width: 100%;

    color: var(--font-color-main);

    text-align: center;
  }

  &__orange-line {
    position: absolute;
    top: 0;

    height: var(--orange-line-height);
    width: 35%;

    background-color: var(--brand-orange-color);
    box-shadow: 0 var(--orange-line-shadow-vertical-offset)
      var(--orange-line-shadow-spread) var(--brand-orange-color);

    border-bottom-left-radius: var(--border-radius-type-two);
    border-bottom-right-radius: var(--border-radius-type-two);
  }

  &__content {
    @extend %flex-class;
    justify-content: space-between;

    width: 100%;

    background-color: var(--grey-900);

    border-bottom-left-radius: var(--border-radius-type-three);
    border-bottom-right-radius: var(--border-radius-type-three);
  }

  // ------ CASES: START ------ //

  &---cash-games-stage-case {
    height: 100%;

    .stage-info-container__header {
      height: 5%;

      font-size: 2rem;
    }

    .stage-info-container__content {
      height: 95%;

      padding: 0 3%;
    }
  }

  // ----------------------------------------------------------

  &---side-leaderboards-notification-case {
    height: calc(var(--base-viewport-dimension) * 0.57 * 0.2);
    width: 90%;

    margin-bottom: calc(var(--base-viewport-dimension) * 0.57 * 0.09);

    .stage-info-container__header {
      height: 100%;

      justify-content: space-evenly;
    }
  }

  // ----------------------------------------------------------

  &---spring-series-stage-case--one {
    height: 20%;

    .stage-info-container__header {
      height: 20%;

      font-size: 2rem;
    }

    .stage-info-container__content {
      height: 80%;
    }
  }

  &---spring-series-stage-case--two {
    height: 57%;

    .stage-info-container__header {
      height: 7%;

      font-size: 2rem;
    }

    .stage-info-container__content {
      height: 93%;

      justify-content: space-evenly;

      padding: 0 3%;
    }
  }

  &---spring-series-stage-case--three {
    height: 21%;

    border-top: var(--border-width) solid var(--grey-200);

    .stage-info-container__content {
      height: 100%;

      padding: 3%;

      border-radius: var(--border-radius-type-three);
    }
  }

  // ----------------------------------------------------------

  &---final-stage-case--one {
    height: 43%;

    border-top: var(--border-width) solid var(--grey-200);

    .stage-info-container__content {
      height: 100%;

      padding: 3%;

      border-radius: var(--border-radius-type-three);
    }
  }

  &---final-stage-case--two {
    height: 27%;

    .stage-info-container__header {
      height: 13%;

      font-size: 2rem;
    }

    .stage-info-container__content {
      height: 87%;

      justify-content: space-evenly;

      padding: 0 3%;
    }
  }

  &---final-stage-case--three {
    height: 28%;

    .stage-info-container__header {
      height: 17%;

      font-size: 2rem;
    }

    .stage-info-container__content {
      height: 83%;

      justify-content: space-evenly;

      padding: 0 3%;
    }
  }

  // ----------------------------------------------------------

  &---travel-pack-case {
    height: 100%;
    width: 32%;

    .stage-info-container__header {
      height: 12%;
      width: 95%;

      font-size: 1.5rem;
    }

    .stage-info-container__content {
      height: 88%;

      justify-content: space-evenly;

      background-color: var(--grey-600);

      padding: 3%;
    }
  }

  // ------ CASES: END ------ //
}

// ------ STYLES: END ------ //

// ------ MEDIA QUERIES: START ------ //

@media screen and (max-width: 1100px) {
  .stage-info-container {
    --border-width: 5px;
    --orange-line-height: 5px;
    --orange-line-shadow-vertical-offset: 3px;
    --orange-line-shadow-spread: 10px;
  }
}

@media screen and (max-width: 800px) {
  .stage-info-container {
    --border-width: 4px;
    --orange-line-height: 4px;
    --orange-line-shadow-vertical-offset: 2.5px;
    --orange-line-shadow-spread: 7px;
  }
}

@media screen and (max-width: 600px) {
  .stage-info-container {
    --border-width: 3px;
    --orange-line-height: 3px;
    --orange-line-shadow-vertical-offset: 2px;
    --orange-line-shadow-spread: 5px;
  }
}

@media screen and (max-width: 400px) {
  .stage-info-container {
    --border-width: 2px;
    --orange-line-height: 2px;
    --orange-line-shadow-vertical-offset: 1.5px;
    --orange-line-shadow-spread: 3px;
  }
}

// ------ MEDIA QUERIES: END ------ //
