@use "sass:math";

%overflowing-text-styles {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ------ STYLES: START ------ //

.stages-list-item {
  height: 100%;
  width: math.div(100%, 3);

  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &--selected {
    @extend .stages-list-item;

    height: 110%;

    background-color: var(--brand-orange-color);

    border-radius: 15px;
  }

  &__stage-date {
    @extend %overflowing-text-styles;

    width: 100%;

    font-size: 1.5rem;

    margin-bottom: 2%;

    &--selected {
      @extend .stages-list-item__stage-date;

      font-size: 1.6rem;
    }
  }

  &__stage-description {
    @extend %overflowing-text-styles;

    width: 100%;

    font-size: 1.6rem;
    font-weight: bold;

    &--selected {
      @extend .stages-list-item__stage-description;

      font-size: 1.8rem;
    }
  }
}

// ------ STYLES: END ------ //
