// ------ STYLES: START ------ //

.grey-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 15px;

  background-color: var(--grey-600);

  // ------ CASES: START ------ //

  %ul-properties {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 3%;
  }

  // ----------------------------------------------------------

  &---leaderboard-list-case {
    @extend .grey-container;

    height: 27%;

    padding: {
      bottom: 3%;
      left: 2%;
      right: 2%;
    }

    ul {
      @extend %ul-properties;

      height: 90%;

      padding: 0 2%;

      overflow-y: scroll;

      scrollbar-width: none; // removes visible scrollbars for Firefox
      -ms-overflow-style: none; // removes visible scrollbars for IE and Edge

      &::-webkit-scrollbar {
        // removes visible scrollbars for Chrome
        width: 5px;
        background-color: var(--grey-500);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--brand-orange-color);
      }
    }

    &--spring-series-stage {
      @extend .grey-container---leaderboard-list-case;

      height: 50%;
    }
  }

  // ----------------------------------------------------------

  &---prizes-with-orange-line-list-case {
    @extend .grey-container;

    height: 16%;

    ul {
      @extend %ul-properties;
    }

    &--spring-series-stage {
      @extend .grey-container---prizes-with-orange-line-list-case;

      height: 29%;
    }
  }

  // ----------------------------------------------------------

  &---mysterious-keys-list-case {
    @extend .grey-container;

    height: 85%;

    padding: 2%;

    ul {
      @extend %ul-properties;

      height: 100%;

      padding: 0 2%;

      overflow-y: scroll;

      scrollbar-width: none; // removes visible scrollbars for Firefox
      -ms-overflow-style: none; // removes visible scrollbars for IE and Edge

      &::-webkit-scrollbar {
        // removes visible scrollbars for Chrome
        width: 4px;
        background-color: var(--grey-500);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--brand-orange-color);
      }
    }
  }

  // ------ CASES: END ------ //
}

// ------ STYLES: END ------ //
