// ------ STYLES: START ------ //

.tournament-announcement {
  height: 20%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  padding: 0 5%;

  &__header {
    width: 100%;

    color: var(--font-color-main);
    font-size: 2rem;
  }

  &__details {
    width: 100%;

    color: var(--grey-20);
    font-size: 1.7rem;
  }
}

// ------ STYLES: END ------ //
