// ------ STYLES: START ------ //

.rules-and-conditions-item {
  height: 30%;
  width: 100%;

  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 2%;

  border-radius: 10px;

  color: var(--font-color-main);
  font-size: 1.5rem;

  background-color: var(--grey-600);

  &__content {
    width: 95%;
  }

  &__icon {
    height: 50%;

    cursor: pointer;
  }
}

// ------ STYLES: END ------ //
