%flex-class {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// ------ STYLES: START ------ //

.header-call-to-play {
  --bottom-border-width: 3px;
  --side-border-width: 1.5px;

  @extend %flex-class;
  justify-content: space-between;

  height: 5%;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 5;

  padding: 0 2%;

  background-color: transparent;

  border: {
    left: var(--side-border-width) solid transparent;
    right: var(--side-border-width) solid transparent;
    bottom: var(--bottom-border-width) solid transparent;
  }

  transition: background-color 0.2s linear, border 0.2s linear;

  &__left-container {
    @extend %flex-class;
    justify-content: flex-start;

    height: 100%;
    width: 50%;

    &__brand-logo {
      height: 80%;

      margin-right: 5%;
    }
  }

  &__right-container {
    @extend %flex-class;
    justify-content: flex-end;

    height: 100%;
    width: 50%;
  }

  &--solid-bg {
    background-color: var(--grey-900);

    border: {
      left: var(--side-border-width) solid var(--brand-orange-color);
      right: var(--side-border-width) solid var(--brand-orange-color);
      bottom: var(--bottom-border-width) solid var(--brand-orange-color);
    }
  }
}

// ------ STYLES: END ------ //

// ------ MEDIA QUERIES: START ------ //

@media screen and (max-width: 1100px) {
  .header-call-to-play {
    --bottom-border-width: 3px;
    --side-border-width: 1.5px;
  }
}

@media screen and (max-width: 700px) {
  .header-call-to-play {
    --bottom-border-width: 2px;
    --side-border-width: 1px;
  }
}

@media screen and (max-width: 500px) {
  .header-call-to-play {
    --bottom-border-width: 1.5px;
    --side-border-width: 0.5px;
  }
}

// ------ MEDIA QUERIES: END ------ //
