%flex-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ------ STYLES: START ------ //

.travel-prizes-list {
  @extend %flex-class;
  flex-direction: row;

  height: 70%;
  width: 100%;

  &__left-list,
  &__right-list {
    @extend %flex-class;
    flex-direction: column;

    height: 100%;
    width: 48%;
  }
}

// ------ STYLES: END ------ //
