@import "../../helpers/helper-classes.scss";

%common-props {
  height: 70%;

  border: none;
  border-radius: 5px;
  outline: none;

  color: var(--font-color-main);
  font-size: 1.5rem;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.account-buttons__sign-up {
  @extend %common-props;
  justify-content: center;

  width: 30%;

  background-color: var(--grey-100);
}

.account-buttons__sign-in {
  @extend %common-props;
  justify-content: space-evenly;

  width: 25%;

  background-color: var(--brand-orange-color);

  &__icon {
    height: 60%;
  }

  &__text {
    @extend %text-overflow;
  }
}
