%common-button-properties {
  height: 70%;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: none;
  border-radius: var(--border-radius-type-one);
  outline: none;

  color: var(--font-color-main);
  font-size: 1.5rem;

  cursor: pointer;
}

// ------ STYLES: START ------ //

.account-buttons__sign-up {
  @extend %common-button-properties;

  justify-content: center;

  width: 50%;

  margin-right: 2%;

  background-color: var(--grey-100);
}

.account-buttons__sign-in {
  @extend %common-button-properties;

  justify-content: space-evenly;

  width: 40%;

  background-color: var(--brand-orange-color);

  &__icon {
    height: 60%;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// ------ STYLES: START ------ //
