// ------ STYLES: START ------ //

.prize-description-item-with-orange-line {
  height: 30%;
  width: 100%;

  list-style-type: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  position: relative;

  border-radius: var(--border-radius-type-three);

  padding: 1% 4%;

  font-size: 1.6rem;
  color: var(--font-color-main);

  background-color: var(--grey-800);

  &__orange-line {
    height: 70%;
    width: 5px;

    position: absolute;
    left: 0;

    background-color: var(--brand-orange-color);
    box-shadow: 0 3px 10px var(--brand-orange-color);

    border-top-right-radius: var(--border-radius-type-two);
    border-bottom-right-radius: var(--border-radius-type-two);
  }

  &__prize-image-wrapper {
    height: 5vh;
    width: 5vh;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--grey-850);

    border-radius: var(--border-radius-type-three);

    margin-right: 3%;

    &__prize-image {
      height: 80%;

      border-radius: var(--border-radius-type-three);
    }
  }

  &__prize-description {
    width: 70%;
  }
}

// ------ STYLES: START ------ //
