// ------ STYLES: START ------ //

.prize-description-item-with-orange-line {
  --orange-line-width: 5px;
  --orange-line-shadow-vertical-offset: 3px;
  --orange-line-shadow-spread: 10px;

  height: 30%;
  width: 100%;

  list-style-type: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  position: relative;

  border-radius: var(--border-radius-type-three);

  padding: 1% 4%;

  font-size: 1.6rem;
  color: var(--font-color-main);

  background-color: var(--grey-800);

  &__orange-line {
    height: 70%;
    width: var(--orange-line-width);

    position: absolute;
    left: 0;

    background-color: var(--brand-orange-color);
    box-shadow: 0 var(--orange-line-shadow-vertical-offset)
      var(--orange-line-shadow-spread) var(--brand-orange-color);

    border-top-right-radius: var(--border-radius-type-two);
    border-bottom-right-radius: var(--border-radius-type-two);
  }

  &__prize-image-wrapper {
    height: 5vh;
    width: 5vh;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--grey-850);

    border-radius: var(--border-radius-type-three);

    margin-right: 3%;

    &__prize-image {
      height: 80%;

      border-radius: var(--border-radius-type-three);
    }
  }

  &__prize-description {
    width: 70%;
  }
}

// ------ STYLES: START ------ //

// ------ MEDIA QUERIES: START ------ //

@media screen and (max-width: 1100px) {
  .prize-description-item-with-orange-line {
    --orange-line-width: 5px;
    --orange-line-shadow-vertical-offset: 3px;
    --orange-line-shadow-spread: 10px;
  }
}

@media screen and (max-width: 800px) {
  .prize-description-item-with-orange-line {
    --orange-line-width: 4px;
    --orange-line-shadow-vertical-offset: 2.5px;
    --orange-line-shadow-spread: 7px;
  }
}

@media screen and (max-width: 600px) {
  .prize-description-item-with-orange-line {
    --orange-line-width: 3px;
    --orange-line-shadow-vertical-offset: 2px;
    --orange-line-shadow-spread: 5px;
  }
}

@media screen and (max-width: 400px) {
  .prize-description-item-with-orange-line {
    --orange-line-width: 2px;
    --orange-line-shadow-vertical-offset: 1.5px;
    --orange-line-shadow-spread: 3px;
  }
}

// ------ MEDIA QUERIES: END ------ //
