// ------ STYLES: START ------ //

.call-to-play {
  --top-border-width: 3px;
  --side-border-width: 1.5px;

  height: 7%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  z-index: 5;

  border: {
    left: var(--side-border-width) solid var(--brand-orange-color);
    right: var(--side-border-width) solid var(--brand-orange-color);
    top: var(--top-border-width) solid var(--brand-orange-color);
  }

  background-color: var(--grey-900);

  &__button {
    height: 50%;
    width: 15%;

    color: var(--font-color-main);
    font-size: 1.6rem;

    border: none;
    border-radius: var(--border-radius-type-one);
    outline: none;

    background-color: var(--brand-orange-color);

    cursor: pointer;
  }
}

// ------ STYLES: END ------ //

// ------ MEDIA QUERIES: START ------ //

@media screen and (max-width: 1100px) {
  .call-to-play {
    --top-border-width: 3px;
    --side-border-width: 1.5px;
  }
}

@media screen and (max-width: 700px) {
  .call-to-play {
    --top-border-width: 2px;
    --side-border-width: 1px;
  }
}

@media screen and (max-width: 500px) {
  .call-to-play {
    --top-border-width: 1.5px;
    --side-border-width: 0.5px;
  }
}

// ------ MEDIA QUERIES: END ------ //
