// ------ STYLES: START ------ //

.header {
  height: calc(var(--base-viewport-dimension) * 0.4);
  width: 100%;

  flex-shrink: 0;

  margin-bottom: calc(var(--base-viewport-dimension) * 0.03);
}

// ------ STYLES: END ------ //
