// ------ STYLES: START ------ //

.similar-promotions-item {
  height: 100%;

  list-style-type: none;

  margin-right: 3%;

  &__banner {
    height: 100%;

    border-radius: 10px;
  }
}
// ------ STYLES: END ------ //
