:root {
  font-size: 10px;
  --app-background-main: #1c1d1e; // Components: App

  --font-color-main: white; // Components: AccountsButton, CallToPlay, TournamentAnnouncement, StageInfoContainer, SlotDates, SectionHeader, RulesAndConditionsItem
  --font-color-grey: #e8e8e8; // Components: TournamentAnnouncement

  --list-item-color-light: #25292b; // Components: RulesAndConditionsItem

  --brand-orange-color: #ef5a21; // Components: AccountsButton, CallToPlay, StagesListItem, StageInfoContainer

  --grey-900: #171718; // Components: CallToPlay, StageInfoContainer
  --grey-700: #1e2122; // Components: LiderboardListItem
  --grey-600: #25292b; // Components: GreyContainer
  --grey-200: #2c3234; // Components: StagesList, StageInfoContainer, LiderboardListItem
  --grey-100: #44494b; // Components: AccountsButton, SlotDates

  --slot-badge-main-background: #242a2b; // Components: SlotDates

  --stages-list-font-color: #d5d6d6; // Components: StagesList

  --main-element-viewport-height: 57vh; // Components: StagesList, StageInfoContainer, CashGamesStage
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
