// ------ STYLES: START ------ //

.holdem-list-header {
  height: 4%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: var(--font-color-main);
  font-size: 2rem;

  &__header-text {
    margin-right: 2%;
  }

  &__icon {
    height: 40%;
  }
}

// ------ STYLES: END ------ //
