%common-properties {
  padding: 0 10%;

  color: var(--font-color-main);
  text-align: center;
}

// ------ STYLES: START ------ //

.side-leaderboards-notification {
  &__header {
    @extend %common-properties;

    font-size: 1.8rem;
  }

  &__hint {
    @extend %common-properties;

    font-size: 1.4rem;
  }
}

// ------ STYLES: END ------ //
